
.body{
    font: 20px, Arial, sans-serif;
}

.navbar{
    background-color: rgb(42, 161, 38);
}

.quem-somos{
    background-color: rgb(156, 170, 196);
    color: wheat;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: rgb(115, 170, 147);
}

.servicos{
    background-color: rgb(103, 248, 103);
}

.bg-footer{
    background-color: rgb(122, 218, 218);
    color: white;
}